@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Yeseva+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-background {
    background: linear-gradient(180deg, rgba(103, 76, 147, 0.00) 0%, #604C9E 0.01%, #411872 94.27%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.font-header {
    font-family: 'Andika', sans-serif;
}

.font-important {
    font-family: 'Yeseva One', serif;
}

.shadow-effect {
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
